.charity-add-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  margin-right: 10px;
  font-size: 40px;
  font-weight: 300;
}

i {
  font-size: 30px;
}

.charities-main-container {
  width: 1000px;
}

.charities-header {
  text-align: center;
}

.charities-side-by-side-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.charities-button-container {
  height: 500px;
  overflow: auto;
  padding: 20px;
}

.charity-details {
  height: 100%;
  overflow: auto;
}

.warning {
  color: red;
}
